/*!
 * sale4pos
 *
 * Author:wu.h1
 * Date:2014/12/16
 * 
 */

/* grid */
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
*:before, *:after { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.row { margin-right: -15px; margin-left: -15px; }
.row:before, .row:after { display: table; content: " "; }
.row:after { clear: both; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-12 { width: 100%; }
.col-xs-11 { width: 91.66666667%; }
.col-xs-10 { width: 83.33333333%; }
.col-xs-9 { width: 75%; }
.col-xs-8 { width: 66.66666667%; }
.col-xs-7 { width: 58.33333333%; }
.col-xs-6 { width: 50%; }
.col-xs-5 { width: 41.66666667%; }
.col-xs-4 { width: 33.33333333%; }
.col-xs-3 { width: 25%; }
.col-xs-2 { width: 16.66666667%; }
.col-xs-1 { width: 8.33333333%; }
.col-xs-pull-12 { right: 100%; }
.col-xs-pull-11 { right: 91.66666667%; }
.col-xs-pull-10 { right: 83.33333333%; }
.col-xs-pull-9 { right: 75%; }
.col-xs-pull-8 { right: 66.66666667%; }
.col-xs-pull-7 { right: 58.33333333%; }
.col-xs-pull-6 { right: 50%; }
.col-xs-pull-5 { right: 41.66666667%; }
.col-xs-pull-4 { right: 33.33333333%; }
.col-xs-pull-3 { right: 25%; }
.col-xs-pull-2 { right: 16.66666667%; }
.col-xs-pull-1 { right: 8.33333333%; }
.col-xs-pull-0 { right: auto; }
.col-xs-push-12 { left: 100%; }
.col-xs-push-11 { left: 91.66666667%; }
.col-xs-push-10 { left: 83.33333333%; }
.col-xs-push-9 { left: 75%; }
.col-xs-push-8 { left: 66.66666667%; }
.col-xs-push-7 { left: 58.33333333%; }
.col-xs-push-6 { left: 50%; }
.col-xs-push-5 { left: 41.66666667%; }
.col-xs-push-4 { left: 33.33333333%; }
.col-xs-push-3 { left: 25%; }
.col-xs-push-2 { left: 16.66666667%; }
.col-xs-push-1 { left: 8.33333333%; }
.col-xs-push-0 { left: auto; }
.col-xs-offset-12 { margin-left: 100%; }
.col-xs-offset-11 { margin-left: 91.66666667%; }
.col-xs-offset-10 { margin-left: 83.33333333%; }
.col-xs-offset-9 { margin-left: 75%; }
.col-xs-offset-8 { margin-left: 66.66666667%; }
.col-xs-offset-7 { margin-left: 58.33333333%; }
.col-xs-offset-6 { margin-left: 50%; }
.col-xs-offset-5 { margin-left: 41.66666667%; }
.col-xs-offset-4 { margin-left: 33.33333333%; }
.col-xs-offset-3 { margin-left: 25%; }
.col-xs-offset-2 { margin-left: 16.66666667%; }
.col-xs-offset-1 { margin-left: 8.33333333%; }
.col-xs-offset-0 { margin-left: 0; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-12 { width: 100%; }
  .col-sm-11 { width: 91.66666667%; }
  .col-sm-10 { width: 83.33333333%; }
  .col-sm-9 { width: 75%; }
  .col-sm-8 { width: 66.66666667%; }
  .col-sm-7 { width: 58.33333333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.66666667%; }
  .col-sm-4 { width: 33.33333333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.66666667%; }
  .col-sm-1 { width: 8.33333333%; }
  .col-sm-pull-12 { right: 100%; }
  .col-sm-pull-11 { right: 91.66666667%; }
  .col-sm-pull-10 { right: 83.33333333%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-8 { right: 66.66666667%; }
  .col-sm-pull-7 { right: 58.33333333%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-5 { right: 41.66666667%; }
  .col-sm-pull-4 { right: 33.33333333%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-2 { right: 16.66666667%; }
  .col-sm-pull-1 { right: 8.33333333%; }
  .col-sm-pull-0 { right: auto; }
  .col-sm-push-12 { left: 100%; }
  .col-sm-push-11 { left: 91.66666667%; }
  .col-sm-push-10 { left: 83.33333333%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-8 { left: 66.66666667%; }
  .col-sm-push-7 { left: 58.33333333%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-5 { left: 41.66666667%; }
  .col-sm-push-4 { left: 33.33333333%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-2 { left: 16.66666667%; }
  .col-sm-push-1 { left: 8.33333333%; }
  .col-sm-push-0 { left: auto; }
  .col-sm-offset-12 { margin-left: 100%; }
  .col-sm-offset-11 { margin-left: 91.66666667%; }
  .col-sm-offset-10 { margin-left: 83.33333333%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-8 { margin-left: 66.66666667%; }
  .col-sm-offset-7 { margin-left: 58.33333333%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-5 { margin-left: 41.66666667%; }
  .col-sm-offset-4 { margin-left: 33.33333333%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-2 { margin-left: 16.66666667%; }
  .col-sm-offset-1 { margin-left: 8.33333333%; }
  .col-sm-offset-0 { margin-left: 0; }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-12 { width: 100%; }
  .col-md-11 { width: 91.66666667%; }
  .col-md-10 { width: 83.33333333%; }
  .col-md-9 { width: 75%; }
  .col-md-8 { width: 66.66666667%; }
  .col-md-7 { width: 58.33333333%; }
  .col-md-6 { width: 50%; }
  .col-md-5 { width: 41.66666667%; }
  .col-md-4 { width: 33.33333333%; }
  .col-md-3 { width: 25%; }
  .col-md-2 { width: 16.66666667%; }
  .col-md-1 { width: 8.33333333%; }
  .col-md-pull-12 { right: 100%; }
  .col-md-pull-11 { right: 91.66666667%; }
  .col-md-pull-10 { right: 83.33333333%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-8 { right: 66.66666667%; }
  .col-md-pull-7 { right: 58.33333333%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-5 { right: 41.66666667%; }
  .col-md-pull-4 { right: 33.33333333%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-2 { right: 16.66666667%; }
  .col-md-pull-1 { right: 8.33333333%; }
  .col-md-pull-0 { right: auto; }
  .col-md-push-12 { left: 100%; }
  .col-md-push-11 { left: 91.66666667%; }
  .col-md-push-10 { left: 83.33333333%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-8 { left: 66.66666667%; }
  .col-md-push-7 { left: 58.33333333%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-5 { left: 41.66666667%; }
  .col-md-push-4 { left: 33.33333333%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-2 { left: 16.66666667%; }
  .col-md-push-1 { left: 8.33333333%; }
  .col-md-push-0 { left: auto; }
  .col-md-offset-12 { margin-left: 100%; }
  .col-md-offset-11 { margin-left: 91.66666667%; }
  .col-md-offset-10 { margin-left: 83.33333333%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-8 { margin-left: 66.66666667%; }
  .col-md-offset-7 { margin-left: 58.33333333%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-5 { margin-left: 41.66666667%; }
  .col-md-offset-4 { margin-left: 33.33333333%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-2 { margin-left: 16.66666667%; }
  .col-md-offset-1 { margin-left: 8.33333333%; }
  .col-md-offset-0 { margin-left: 0; }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-12 { width: 100%; }
  .col-lg-11 { width: 91.66666667%; }
  .col-lg-10 { width: 83.33333333%; }
  .col-lg-9 { width: 75%; }
  .col-lg-8 { width: 66.66666667%; }
  .col-lg-7 { width: 58.33333333%; }
  .col-lg-6 { width: 50%; }
  .col-lg-5 { width: 41.66666667%; }
  .col-lg-4 { width: 33.33333333%; } 
  .col-lg-3 { width: 25%; }
  .col-lg-2 { width: 16.66666667%; }
  .col-lg-1 { width: 8.33333333%; }
  .col-lg-pull-12 { right: 100%; }
  .col-lg-pull-11 { right: 91.66666667%; }
  .col-lg-pull-10 { right: 83.33333333%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-8 { right: 66.66666667%; }
  .col-lg-pull-7 { right: 58.33333333%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-5 { right: 41.66666667%; }
  .col-lg-pull-4 { right: 33.33333333%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-2 { right: 16.66666667%; }
  .col-lg-pull-1 { right: 8.33333333%; }
  .col-lg-pull-0 { right: auto; }
  .col-lg-push-12 { left: 100%; }
  .col-lg-push-11 { left: 91.66666667%; }
  .col-lg-push-10 { left: 83.33333333%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-8 { left: 66.66666667%; }
  .col-lg-push-7 { left: 58.33333333%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-5 { left: 41.66666667%; }
  .col-lg-push-4 { left: 33.33333333%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-2 { left: 16.66666667%; }
  .col-lg-push-1 { left: 8.33333333%; }
  .col-lg-push-0 { left: auto; }
  .col-lg-offset-12 { margin-left: 100%; }
  .col-lg-offset-11 { margin-left: 91.66666667%; }
  .col-lg-offset-10 { margin-left: 83.33333333%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-8 { margin-left: 66.66666667%; }
  .col-lg-offset-7 { margin-left: 58.33333333%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-5 { margin-left: 41.66666667%; }
  .col-lg-offset-4 { margin-left: 33.33333333%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-2 { margin-left: 16.66666667%; }
  .col-lg-offset-1 { margin-left: 8.33333333%; }
  .col-lg-offset-0 { margin-left: 0; }
}

/* global */
.hide { display:none; }
.nowrap { white-space:nowrap; }
.nowrap-list li a { display:inline-block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }

/* button */
.btn { display: inline-block; padding:4px 12px; font-size: 14px; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; border-radius: 3px; }
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn:hover, .btn:focus, .btn.focus { color: #333; text-decoration: none; }
.btn:active, .btn.active { background-image: none; outline: 0; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); }
.btn-default { color: #333; background-color: #f6f6f6; border-color: #ccc; }
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active { color: #333; background-color: #e6e6e6; border-color: #adadad; }
.btn-default:active, .btn-default.active { background-image: none; }
.btn-warning { color: #fff; background-color: #EDA136; border-color: #eea236; }
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active { color: #fff; background-color: #ec971f; border-color: #d58512; }
.btn-warning:active, .btn-warning.active { background-image: none; }
.btn-danger { color: #fff; background-color: #d9534f; border-color: #d43f3a; }
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active { color: #fff; background-color: #c9302c; border-color: #ac2925; }
.btn-danger:active, .btn-danger.active { background-image: none; }
.btn-block { display:block; width:100%; }
.btn-lg { padding:6px 20px; font-size: 16px; line-height: 1.33; }
.btn-sm { padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.btn-xs { padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; }

/* form */
.form-title { padding:20px 0 26px; font-size:20px; }
.form-group { margin-bottom:10px; }
.form-group .control-label { display:inline-block; text-align:right; }
.form-control { width:100%; }
.form-horizontal .form-group { margin:0 -15px 15px; }

.form-inline { display:table; }
.form-inline .form-group { display: inline-block; margin-bottom: 0; vertical-align: middle; }
.form-inline .form-control { display: inline-block; width: auto; vertical-align: middle; }

.form-horizontal .form-group:before, .form-horizontal .form-group:after,
.dl-horizontal dd:before, .dl-horizontal dd:after { display:table; content:" "; }
.form-horizontal .form-group:after, .dl-horizontal dd:after { clear:both; }

/* panel group */
.panel-groups { display:table; width:100%; height:100%; }
.panel-group { display:table-cell; position:relative; margin-left:-1px; border:1px solid #ddd; border-left-width:0; vertical-align:top; }
.panel-group:first-child { border-left-width:1px; }

/* dl horizontal */
.dl-horizontal { margin-top:0; margin-bottom:10px; }
.dl-horizontal dt { float:left; clear:left; width:80px; overflow:hidden; text-align:right; text-overflow:ellipsis; white-space:nowrap; }
.dl-horizontal dd { margin-left:90px; }

/* sp-icon */
[class*=sp-flag] { position:absolute; top:0; right:0; z-index:9; width:32px; height:27px; display:block; background-image:url(images/sale4pos_sprites.png); background-repeat:no-repeat; }
.sp-flag-save { right:inherit; left:0; width:42px; height:40px; background-position:0 0; }
.sp-flag-f1 { width:62px; height:58px; background-position:-42px 0; }
.sp-flag-vip { width:42px; height:40px; background-position:-104px 0; }
.sp-flag-changeDocs { right:inherit; left:0; width:42px; height:40px; background-position:-146px 0; }
.sp-flag-changeDocsOrange { right:inherit; left:0; width:42px; height:40px; background-position:-190px 0; }
.sp-flag-addDocs { right:inherit; left:0; width:42px; height:40px; background-position:-232px 0; }
.sp-flag-esc { background-position:0 -58px; }
.sp-flag-f2 { background-position:-32px -58px; }
.sp-flag-f3 { background-position:-64px -58px; }
.sp-flag-f4 { background-position:-96px -58px; }
.sp-flag-f10 { background-position:-128px -58px; }

[class*=sp-icon] { display:inline-block; width:20px; height:20px; margin-right:6px; background-image:url(images/sale4pos_icons.png); background-repeat:no-repeat; vertical-align:middle; }
.sp-icon-remove { background-position: 0; }
.sp-icon-edit { background-position:-20px 0; }
.sp-icon-link { background-position:-40px 0; }
.sp-icon-view { background-position:-60px 0; }
.sp-icon-coupon { background-position:-80px 0; }
.sp-icon-setting { position:absolute; right:0; top:6px; background-position:-100px 0; text-indent:-99px; overflow:hidden; cursor:pointer; }
.sp-icon-cash { width:69px; height:76px; background-image:url(images/cash.png); }

.sp-sidebar-icon { width:24px; height:24px; margin:0 0 4px; background-image:url(images/sidebar_icons.png); }
.sp-sidebar-icon.sp-icon-search { background-position:0; }
.sp-sidebar-icon.sp-icon-view { background-position:-24px 0; }
.sp-sidebar-icon.sp-icon-coupon { background-position:-48px 0; }
.sp-sidebar-icon.sp-icon-onsale { background-position:-72px 0; }
.sp-sidebar-icon.sp-icon-remark { background-position:-96px 0; }
.sp-sidebar-icon.sp-icon-vip { background-position:-120px 0; }
.sp-sidebar-icon.sp-icon-more { background-position:-144px 0; }

.sp-more-icon { display:block; width:42px; height:42px; margin:0 auto 4px; background-image:url(images/sidebar_more.png); }
.sp-more-icon.sp-side-return { background-position:0; }
.sp-more-icon.sp-side-receive { background-position:-42px 0; }
.sp-more-icon.sp-side-deliver { background-position:-84px 0; }
.sp-more-icon.sp-side-rank { background-position:-126px 0; }
.sp-more-icon.sp-side-pending { background-position:-168px 0; }

/* sidebar */
body .layout-panel-east.layout-panel, body .layout-panel-east .panel-body { overflow:initial; }
.sidebar { position:relative; height:100%; background-color:#000; }
.sidebar-nav { position:absolute; top:50%; right:0; z-index:20; width:100%; height:420px; margin-top:-210px; }
.sidebar-nav > li { position:relative; }
.sidebar-nav > li:hover .dropdown-panel { display:block; }
.sidebar-nav > li > a { display:block; padding:5px 0; color:#fff; text-align:center; }
.sidebar-nav > li:hover > a { background-color:#c40000; }
.sidebar-nav > li > a i { display:block; margin:0 auto; }

/* dropdown panel */
.dropdown-panel { display:none; position:absolute; top:-6px; right:50px; z-index:21; min-width:240px; min-height:130px; padding:15px 20px; background-color:#fff; box-shadow:0 0 6px rgba(0,0,0,.5); -webkit-box-shadow:none; -webkit-filter:drop-shadow(0 0 6px rgba(0,0,0,.5)); }
.dropdown-panel:after { position:absolute; top:30px; right:-16px; z-index:21; width:0; height:0; border:8px solid transparent; border-left-color:#fff; content:" "; }
.dropdown-panel-header { margin-bottom:10px; padding:0px 3px 7px; border-bottom:1px solid #ddd; color:#1d4ebc; font-weight:bold; }

/* dropdown panel */
.dropdown-datagrid-container { overflow:hidden; }
.sidebar-nav > .sp-dropdown-li:hover .dropdown-panel { display:none; }
.panel-close { display:inline-block; position:absolute; left:-16px; top:-16px; width:36px; height:36px; text-indent:-99px; overflow:hidden; cursor:pointer; background:url(../../../common/js/fancybox/fancybox_sprite.png) no-repeat; }

.sp-onsale-list a { display:inline-block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; line-height:1.2; }

.sp-input-coupons { width:100%; padding:0 3px; }
.sp-coupons-list li { text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }

/* dropdown panel:remark */
.sp-sale-remark { width:100%; height:76px; margin-bottom:10px; background-color:#fff; border-color:#ccc; }

/* dropdown panel: default promotion */
.dropdown-tooltip-panel { right:60px; min-width:160px; min-height:40px; background-color:#474546; box-shadow:none; -webkit-filter:none; color:#fff; }
.dropdown-tooltip-panel:after { top:20px; border-left-color:#474546; }

#cashier-dropdown-panel .layout-panel-center { margin-top:30px; padding-bottom:30px; }
.dropdown-panel .nav-tab .active { color:#1F1C8F; font-weight:bold; }
.nav-tab span { color:#777; vertical-align:top; }

/* dropdown panel:coupon */
.dropdown-tab .form-inline .form-group { margin-right:15px; }
.dropdown-tab .form-inline .form-control { width:100px; }
.dropdown-grid { border:1px solid #ddd; }
.coupon-dropdown-panel .form-horizontal { margin-top:10px; }

/* dropdown panel:more */
.sp-side-more { width:350px; margin-top:20px; }
.sp-side-more li { float:left; width:70px; height:42px; text-align:center; }
.sp-side-more li a:hover { color:#f90; }
.sp-side-more li a:hover i { opacity:.8; filter:alpha(opacity=80); }

/*
* sale4pos
*/

/* header */
.sp-panel-groups-header { }
.sp-panel-groups-header .panel-group { vertical-align:middle; }
.sp-panel-groups-header .form-group { margin-bottom:3px; }
.sp-panel-groups-header .form-group .control-label { white-space:nowrap; }
.sp-panel-groups-header .form-group .form-control { width:60%; }
.sp-panel-groups-header .panel-group .col-sm-6 { vertical-align:middle; word-break:break-all; }
.sp-panel-groups-header .panel-group .col-sm-6 { word-break:break-all; }
.sp-sale-title { position:relative; background-color:#F2F2F2; text-align:center; }
.sp-sale-title:before, .sp-sale-title:after { position:absolute; top:50%; width:0; height:0; border:10px solid transparent; content:" "; }
.sp-sale-title:before { z-index:9; right:-24px; margin-top:-12px; border-width:12px; border-left-color:#ddd; }
.sp-sale-title:after { z-index:10; right:-20px; margin-top:-10px; border-left-color:#F2F2F2; }
.sp-sale-title h2 { padding:0 10px; font-size:26px; line-height:30px; }
@media (max-width:991px){
    .sp-sale-title h2 { font-size:20px; line-height:24px; }
}

.sp-btn-add { width:30px; height:24px; font-size:20px; vertical-align:middle; }
.sp-panel-groups-header .form-group textarea { width:85%; }

.sp-tab-nav li { display:inline-block; margin-right:6px; padding:2px 12px; border:1px solid #ccc; color:#555; cursor:pointer; }
.sp-tab-nav li:last-child { margin-right:0; }
.sp-tab-nav li:hover { border-color:#ccbf55; color:#333; }
.sp-tab-nav li.active { color: #333; border-color:#ccbf55; background:#f3e88d url(images/bg_active.png) bottom right no-repeat; }
.sp-tab-nav li.disabled { color: #c5bfbf; background-color: #f0f8f8; }
.sp-tab-nav li.disabled:hover { border-color:#ddd; }

.sp-more { color:#2a9b10; text-decoration:underline; }
.sp-more:hover { text-decoration:none; }

/* center */
.sp-datagrid .datagrid-header { background:#eafbd7; }
.sp-datagrid .datagrid-header td { padding-top:5px; padding-bottom:5px; }
.sp-datagrid .datagrid-header td.datagrid-header-over { background-color:#eafbd7; }
.sp-center-grid { height:100%; border:1px solid #ddd; }
.sp-center-grid .datagrid-view { border-bottom:1px solid #ddd; }
.sp-center-grid .datagrid .datagrid-pager { border-width:1px 0; }

/* footer */
.sp-panel-groups-footer .pt30 { padding-top:30px; }
.sp-panel-groups-footer h3 { font-size:15px; }
.sp-panel-groups-footer strong { font-size:18px; }
.sp-panel-groups-footer .panel-group { width:12%; background-color:#fdfbed; }
.sp-panel-groups-footer .sp-panel-cashier { background-color:#fb9b08; }
.sp-panel-groups-footer .sp-panel-cashier, .sp-panel-groups-footer .sp-panel-btn-list { width:20%; }
.sp-panel-groups-footer .dl-horizontal dd {  white-space:nowrap; }
.sp-member-panel dt { width:100px; text-align:left; text-indent:16px; }
.sp-member-panel dd { margin-left:110px; }
.sp-total-panel dt { width:70px; }
.sp-total-panel dd { margin-left:80px; }
.sp-amount-panel strong { font-size:30px; }
.sp-panel-cashier { text-align:center; vertical-align:middle; overflow:hidden; }
.sp-panel-cashier a { display:block; padding:29px 0; background-color:#fb9b08; color:#fff; font-size:24px; }
.sp-panel-cashier a:visited { color:#fff; }
.sp-panel-cashier a:hover { background-color:#E78C00; color:#fff; }
.sp-panel-btn-list { overflow:hidden; }
.sp-panel-btn-list li { position:relative; }
.sp-panel-btn-list li a { display:block; padding:11.5px 0; border-bottom:1px solid #ddd; text-align:center; }
.sp-panel-btn-list li a:hover { background-color:#f8f5db; }
.sp-panel-btn-list li:last-child a { border:none; }

/* dialog table */
.sp-charge-list { height:60px; padding:15px 10px; border:1px solid #ddd; border-width:1px 0; clear:both; }
.sp-charge-list strong { font-size:20px; }

#chargeDataGridBox { overflow:initial !important; }
.grid-panel-box { position:absolute; top:500px; left:290px; z-index:30; height:120px; background-color:#fff; box-shadow:0 0 9px #aaa; }
/*.grid-panel-box-arrorw { position:absolute; top:30px; left:92px; z-index:30; width:0; height:0; border:8px solid transparent; border-right-color:#fff; }*/
/*.grid-panel-box:before { position:absolute; top:-19px; bottom:inherit; left:50%; z-index:28; width:0; height:0; margin-left:-8px; border:10px solid transparent; border-bottom-color:#fff; content:''; }*/
.grid-panel-box:after { position:absolute; top:-21px; bottom:inherit; left:50%; z-index:27; width:0; height:0; margin-left:-9px; border:11px solid transparent; border-bottom-color:#aaa; content:''; }
/*.grid-panel-box.bottom:before { border-top-color:#fff; border-bottom-color:transparent; top:119px; }*/
.grid-panel-box.bottom:after { border-top-color:#aaa; border-bottom-color:transparent; top:121px; }

/* fancybox */
.fancybox-overlay .fancybox-skin { background-color:#fff; border:6px solid #5F5B5C; border-radius:0; }