<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.memo.dao.AccesslogDao" >
  <resultMap id="BaseResultMap" type="org.memo.po.AccesslogDto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="access_time" property="accessTime" jdbcType="TIMESTAMP" />
    <result column="logout_time" property="logoutTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member_id, access_time, logout_time, create_time, update_time
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.memberId and ''!=params.memberId" >
         AND member_id = #{params.memberId}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM access_log
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM access_log WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT <include refid="Base_Column_List" />
      FROM access_log 
     WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
      FROM access_log 
     WHERE 1=1 
    <include refid="condition" />
     ORDER BY update_time DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM access_log
    WHERE id = #{id, jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="org.memo.po.AccesslogDto" >
    DELETE FROM access_log
    WHERE id = #{id, jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.memo.po.AccesslogDto" >
      INSERT INTO access_log
		(member_id, access_time, logout_time, create_time, update_time)
	  VALUES 
	    (#{memberId,jdbcType=VARCHAR}, #{accessTime,jdbcType=TIMESTAMP}
	    , #{logoutTime,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.memo.po.AccesslogDto" >
    INSERT INTO access_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="accessTime != null" >
        access_time,
      </if>
      <if test="logoutTime != null" >
        logout_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null" >
        #{accessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null" >
        #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.memo.po.AccesslogDto" >
    UPDATE access_log
    <set>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null" >
        access_time = #{accessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null" >
        logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByUniquekey" parameterType="org.memo.po.AccesslogDto" >
    UPDATE access_log
    <set >
      <if test="accessTime != null" >
        access_time = #{accessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null" >
        logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE member_id = #{memberId,jdbcType=VARCHAR}
  </update>
  <select id="selectByMemberId" resultMap="BaseResultMap" >
    SELECT 
    <include refid="Base_Column_List" />
      FROM access_log 
     WHERE member_id = #{memberId,jdbcType=VARCHAR}
     ORDER BY update_time DESC
     LIMIT 1
  </select>
</mapper>